<ul class="list-group my-2">
    {{#each currencies}}
        <li class="list-group-item">
            <div class='row'>
                <div class='col'>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"
                                  id="inputGroup-sizing-default">
                                {{this.title}} cost of 1 Euro
                            </span>
                        </div>
                        <input type="text"
                               class="form-control"
                               aria-label="Default"
                               aria-describedby="inputGroup-sizing-default"
                               value='{{this.exchangeRate}}'>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col'>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"
                                  id="inputGroup-sizing-default">
                                Euro
                            </span>
                        </div>
                        <input type="text"
                               class="form-control"
                               aria-label="Default"
                               aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <div class='col'>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"
                                  id="inputGroup-sizing-default">
                                {{this.title}}
                            </span>
                        </div>
                        <input type="text"
                               class="form-control"
                               aria-label="Default"
                               aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
            </div>
        </li>
    {{/each}}
</ul>
